<a href="https://colab.research.google.com/github/VictorAlva371/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico 
escuela = "FES Aragón"

In [31]:
escuela = "FES Aragón"
print(escuela)
print("=========") 
edad = 19
estatura = 1.67
fumador = True
frase = """
Esta es una 
frase de multiples 
lineas y tambien es 
un tipo de dato
"""
print(frase)
nombre = 'Victor'
nombreCompleto = "victor Alva"

FES Aragón
=========

Esta es una
frase de multiples
lineas y tambien es
un tipo de dato

# Print 

con comas ,

con un signo +

con format()

con el operador f

In [32]:
# la coma genera un espacion entre las variables.
print (nombre, edad)

Victor 19

In [33]:
# + concatenacion 
print (nombre + str(edad))
print(nombre + nombreCompleto)

Victor19
Victorvictor Alva

In [34]:
#Con formato -> Nombre: Victor y su edad es 19 años.

print("Su nombre es", nombre, "y su edad es de:", edad, "años")
print("Su nombre es {0} y su edad es de {1} años".format(nombre,edad) )
print("Su nombre es {1} y su edad es de {0} años".format(nombre,edad) )

Su nombre es Victor y su edad es de: 19 años
Su nombre es Victor y su edad es de 19 años
Su nombre es 19 y su edad es de Victor años

In [35]:
#Con formato con el operdor f""

print (f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Victor y su edad es de 19 años.

#Carácter de Escape
\n salto de linea 

\t tabulador 

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [36]:
"""
Esto es un 
comentario de multiple 
linea
"""
print(f"\tMi nombre es\n\t\t {nombre}" )

	Mi nombre es
		 Victor

# Ayuda de Tipos de Datos en python
dir()

help()

In [ ]:
# str, int, float, bool ... list, dict, set

help(str)

In [38]:
print(nombreCompleto.capitalize() )
print(nombreCompleto.upper() , end="------")
print(nombreCompleto.title() )

Victor alva
VICTOR ALVA------Victor Alva

# Clase String
Es manejada como un arreglo (c o java) o lista (python)

'telefono = "Huawei Mate 30 pro"'

In [39]:
telefono = "Huawei Mate 30 pro"
print(telefono[5])

i

#Slicing (rebanado)
[ini:stop:incremento] nota: El stop no se incluye, termina en el valor anterior al stop

In [42]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono[:11:])
# El valor por defecto de stop 
print(telefono[::])
# Incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])

Mate
Huawei Mate
Huawei Mate 30 pro
orp 03 etaM iewauH
pro

#Método de String (str)

Existen métodos muy utiles en esta clase

In [65]:
facultad = "    facultad de estudios superiores aragón     \n"
print(facultad)
print(facultad.count("f") ) #Cuenta los caractereres con coincidencia
print(facultad.find("s") ) #Muestra la pocision de la primera coincidencia
print(facultad.strip() )#quita los espacios al inicio
tamaño = len(facultad) #Cuenta todos los carecteres
print(f"El tamaño de la cadena es: {tamaño} caracteres")
print(facultad.split("t"))
print(facultad.strip().split())


print("----------------------------")
#Copiar cadenas
otraCadena = facultad
print(otraCadena)
otraCadena = "FES Aragón"
print(facultad)
print(otraCadena)

#Copiar listas
colores = ["rojo", "verde"]
otra = colores.copy()
print(colores)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragón

1
17
facultad de estudios superiores aragón
El tamaño de la cadena es: 48 caracteres
['    facul', 'ad de es', 'udios superiores aragón     \n']
['facultad', 'de', 'estudios', 'superiores', 'aragón']
----------------------------
    facultad de estudios superiores aragón

    facultad de estudios superiores aragón

FES Aragón
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']