<a href="https://colab.research.google.com/github/VictorAlva371/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
#Strings Continuación

numeros_txt = "   1, 2, 3, 4   , 5   , 35  , 15  ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt)

#Funcion range()

#range(inicio,stop,incremento)
print(range(1,10,3))
rango = range(1,10,2)
for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1, 2, 3, 4   , 5   , 35  , 15  ,12
['1', ' 2', ' 3', ' 4   ', ' 5   ', ' 35  ', ' 15  ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#listas
- mutables
- declaracion con [ ]
- selector [ int ]

#tuplas
- NO mutables
- Declaracion con ( )
- selectos [ int ]

#diccionario
- Son mutables 
- Son conjunto de llave:valor
- Equivalentes a los objetos JSON de JavaScritp

#conjuntos
- Representacion de la teoria de conjuntos

In [35]:
#Listas (Equivalentes a arreglos en otros lenguajes de programación)
frutas = ["Pera", "Manzana" , "fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
frutas[2] = "Fresa"    #frutas[2] = frutas[2].capitalize()
print("frutas")

#Agregar a listas
frutas.append("Aguacate") #Agrega un elemento hasta el final de la lista
print(frutas)

frutas.insert(2,"Sandia") #Agrega un elemento en la posicion elegida
print(frutas)

fecha = ["06","10","2020"] # 06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
frutas
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [45]:
#Eliminar elementos
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2) #Elimina el elemento de la posicion que se le indique 
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

#vaciar una lista

#cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [60]:
#slicing

cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:])

#sustituir rebanadas -2,-2 --> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]

numeros [8:13:] = [-2,2]
print(numeros)

#preguntar por la existencia
print(-2 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, 2, 13, 14, 15]
True

#Listas Multi Dimensión

listas dentro de listas

In [61]:
computadoras = ["Hp", "Mac Book Pro 17", "Mate book", "Lenovo Legion"]
oss = ["Windows 10", "Linux", "Android", "ios"]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: : -1])
print(computo[0][3][-8: : -1])
print("Linux" in computo[1])
dbms = [["Mysql", "Open Source", False],["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print (computo[2][0][0])
print(computo[2][1][1])

['Hp', 'Mac Book Pro 17', 'Mate book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'ios']
Mate book
Mate
ovoneL
ovoneL
True
[['Hp', 'Mac Book Pro 17', 'Mate book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'ios'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga